#partys {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.partiesH3 {
    color: #4A4A4A;
    font-size: 210%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5vh;
}
.partiesH3::before, .partiesH3::after {
    content: '❦';
    color: #D4AF37;
    font-size: 1.1em;
    text-shadow: 1px 1px 3px rgba(0,0,0,.25);
}
.partiesSpan {
    font-size: 1.3rem;
}